<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="MySnooper.Properties.MessageColors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
          <section name="MySnooper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup>   
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <MySnooper.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserClan" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>wormnet1.team17.com</value>
      </setting>
      <setting name="UserCountry" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ChannelMessageStyle" serializeAs="String">
        <value>F0FFFF|13|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="JoinMessageStyle" serializeAs="String">
        <value>808000|12|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="PartMessageStyle" serializeAs="String">
        <value>808000|12|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="QuitMessageStyle" serializeAs="String">
        <value>808000|12|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="OfflineMessageStyle" serializeAs="String">
        <value>FF0000|13|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="ActionMessageStyle" serializeAs="String">
        <value>FFFF00|13|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="UserMessageStyle" serializeAs="String">
        <value>E9967A|13|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="NoticeMessageStyle" serializeAs="String">
        <value>FF0000|13|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="BuddyJoinedMessageStyle" serializeAs="String">
        <value>ADFF2F|13|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="BuddyList" serializeAs="String">
        <value />
      </setting>
      <setting name="BanList" serializeAs="String">
        <value />
      </setting>
      <setting name="PMBeep" serializeAs="String">
        <value>Sounds\pmbeep.wav</value>
      </setting>
      <setting name="HBeep" serializeAs="String">
        <value>Sounds\pmbeep.wav</value>
      </setting>
      <setting name="BJBeep" serializeAs="String">
        <value>Sounds\buddyjoined.wav</value>
      </setting>
      <setting name="PMBeepEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HBeepEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BJBeepEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageJoinedGame" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HostGameName" serializeAs="String">
        <value />
      </setting>
      <setting name="HostUseWormnat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HostInfoToChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaExe" serializeAs="String">
        <value />
      </setting>
      <setting name="AwayText" serializeAs="String">
        <value>I am playing!</value>
      </setting>
      <setting name="MarkAway" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackText" serializeAs="String">
        <value>I am back!</value>
      </setting>
      <setting name="SendBack" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageTimeStyle" serializeAs="String">
        <value>D3D3D3|12|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="HyperLinkStyle" serializeAs="String">
        <value>00FFFF|13|0|0|0|1|Tahoma</value>
      </setting>
      <setting name="WAExeAsked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginType" serializeAs="String">
        <value>simple</value>
      </setting>
      <setting name="TusNick" serializeAs="String">
        <value />
      </setting>
      <setting name="TusPass" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLogIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LeagueFoundMessageStyle" serializeAs="String">
        <value>ADFF2F|13|0|0|0|0|Tahoma</value>
      </setting>
      <setting name="LeagueFoundBeep" serializeAs="String">
        <value>Sounds\LeagueFound.wav</value>
      </setting>
      <setting name="LeagueFoundBeepEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LeagueFailBeep" serializeAs="String">
        <value>Sounds\LeagueFail.wav</value>
      </setting>
      <setting name="LeagueFailBeepEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AwayMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingsUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserRank" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="SearchForThese" serializeAs="String">
        <value />
      </setting>
      <setting name="NewsSeen" serializeAs="String">
        <value />
      </setting>
      <setting name="TimeLogsDeleted" serializeAs="String">
        <value />
      </setting>
      <setting name="DeleteLogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerAddresses" serializeAs="String">
        <value>wormnet1.team17.com</value>
      </setting>
      <setting name="ShowWormsChannel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChangeWormsNick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WormsNick" serializeAs="String">
        <value />
      </setting>
      <setting name="CloseToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveInstantColors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InstantColors" serializeAs="String">
        <value />
      </setting>
      <setting name="QuitMessagee" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoJoinChannels" serializeAs="String">
        <value>#AnythingGoes,</value>
      </setting>
      <setting name="SpammingChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBannedUsers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InfoMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnOrder" serializeAs="String">
        <value />
      </setting>
      <setting name="Notificator" serializeAs="String">
        <value />
      </setting>
      <setting name="AskNotificatorOff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AskLeagueSearcherOff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotificatorSound" serializeAs="String">
        <value>Sounds\LeagueFound.wav</value>
      </setting>
      <setting name="NotificatorSoundEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WormsPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="TrayFlashing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrayNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideSnooper" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowBannedMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GameListGridRowStarts" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="RightColumnStars" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ClientListDGColumns" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowInfoColumn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ChatMode" serializeAs="String">
        <value>False</value>
      </setting>
    </MySnooper.Properties.Settings>
  </userSettings>
</configuration>
