<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net40" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net40" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net40" />
  <package id="MahApps.Metro" version="1.0.0.0" targetFramework="net40" />
</packages>